<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link href="/css/login.css" rel="stylesheet">
    <title>CodeBank</title>
</head>
<body>
<div class="login-container">
    <h2>CodeBank</h2>
    <form th:action="@{/user/login}" method="POST">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="Enter your email">
        </div>
        <div id="password" class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Enter your password">
        </div>
        <div id="button-container">
            <div>
                <button type="submit" class="btn btn-dark login-button">Login</button>
            </div>
            <div>
                <button class="btn btn-outline-dark login-button">Forgot password?</button>
            </div>
            <div>
                <span class="text-secondary">Don't have an account? <a href="" class="text-primary">Sign up</a></span>
            </div>
        </div>
    </form>
</div>
</body>
</html>