<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">
    <link href="/css/pagination.css" rel="stylesheet">
    <link href="/css/todoSidebar.css" rel="stylesheet">
    <title>CodeBank</title>
</head>
<body>
<th:block th:insert="~{component/header.html::header}"></th:block>
<th:block th:insert="~{component/todoSidebar.html::todoSidebar}"></th:block>
<div id="first-container">
    <div class="profile-container">
        <div id="profile-image">
            <form id="profilePicture" th:action="@{/user/save}" method="POST" enctype="multipart/form-data">
                <input id="user-id" type="hidden" th:value="${user.id}" name="user_id">
                <input id="profile-upload" type="file" name="upfile">
            </form>
            <a id="image-wrap">
                <div id="click-profile">
                    <img th:unless="${user.p_img}" th:src="@{/image/default_profile.png}" alt="Profile Picture" class="profile-picture">
                    <img th:if="${user.p_img}" th:src="@{'/upload/' + ${user.p_img}}" alt="Profile Picture" class="profile-picture">
                </div>
                <div id="upload-info">Upload image</div>
            </a>
            <div class="profile-bio" th:text="${user.email}"></div>
        </div>
        <div id="profile-info">
            <div class="profile-name" th:text="${user.name}"></div>
            <div class="profile-bio">
                <a class="follow-click" th:href="@{'/user/followers/' + ${user.id} + '?list=followers'}">Followers: [[${followerNum}]]</a>
            </div>
            <div class="profile-bio">
                <a class="follow-click" th:href="@{'/user/followers/' + ${user.id} + '?list=following'}">Following: [[${followingNum}]]</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <h2>My Snippets
            <span class="material-symbols-outlined my-snippet">
                deployed_code
            </span>
        </h2>
    </div>
    <div>
        <a id="post-btn" class="btn btn-primary" href="/snippet/add">Post Snippet</a>
    </div>
</div>
<div class="container">
    <div th:if="${#lists.isEmpty(snippets)}">
        <div id="no-post-container" class="d-flex justify-content-center flex-column align-items-center">
            <div>
            <span id="no-post" class="material-symbols-outlined">
                search_off
            </span>
            </div>
            <div>
                <div id="no-post-title">You haven't posted any snippets :(</div>
            </div>
            <div>
                <a id="no-post-post" href="/snippet/add">Post your first code!</a>
            </div>
        </div>
    </div>
</div>
<div class="mysnippet d-flex justify-content-center" th:if="${not #lists.isEmpty(snippets)}">
    <div class="snippet-wrap" th:each="snippet : ${snippets}">
        <div class="snippet-flex">
            <div>
                <img th:unless="${snippet.img}" th:src="@{/image/default_post.png}" alt="Snippet" class="snippet-image">
                <img th:if="${snippet.img}" th:src="@{'/upload/' + ${snippet.img}}" alt="Snippet" class="snippet-image">
            </div>
            <div class="snippet-desc-box">
                <div class="d-flex justify-content-center">
                    <div class="badge lang-badge badge-pill" th:text="${snippet.language}"></div>
                    <div class="badge private-badge badge-pill" th:if="${not snippet.isPublic}">
                        <span class="material-symbols-outlined private-icon">
                            lock
                        </span>
                    </div>
                </div>
                <div class="snippet-title" th:text="${snippet.title}"></div>
                <div class="snippet-description" th:text="${snippet.description}"></div>
            </div>
            <div class="snippetbutton">
                <a class="btn btn-success" th:href="@{'/snippet/detail/' + ${snippet.id}}">View</a>
                <a id="edit-btn" class="btn btn-primary" th:href="@{'/snippet/edit/' + ${snippet.id}}">Edit</a>
                <a class="btn btn-danger" onclick="deleteThis(this)" th:attr="data-snippet-id=${snippet.id}">Delete</a>
            </div>
        </div>
    </div>
</div>
<form method="POST" th:action="@{/snippet/delete}" name="delete">
    <input id="snippetRemoveId" type="hidden" name="snippet_id">
</form>
<th:block th:insert="~{component/pagination.html::pagination}"></th:block>
<th:block th:insert="~{component/footer.html::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/todo.js"></script>
<script src="/js/profile.js"></script>
</html>