<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/list.css" rel="stylesheet">
    <title>CodeBank</title>
</head>
<body>
<script th:inline="javascript">
    const logged_user = [[${user}]];
</script>
<th:block th:insert="~{component/header.html::header}"></th:block>
<form>
    <div class="container mt-4">
        <div class="row">
            <div class="col d-flex input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by title, language or description" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>
<div id="top-title">
    <div class="title">Get Inspired</div>
</div>
<h2>Popular Snippets</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="snippet : ${snippets}">
            <div class="snippet-box">
                <p><span class="badge badge-pill" th:text="${snippet.language}"></span></p>
                <img th:unless="${snippet.img}" th:src="@{/image/noimage.png}" alt="Snippet" class="snippet-image">
                <img th:if="${snippet.img}" th:src="@{'/upload/' + ${snippet.img}}" alt="Snippet" class="snippet-image">
                <div th:class="'likecontainer_' + ${snippet.id} + ' ' + ${#arrays.contains(likedPosts, snippet.id) ? 'liked' : 'not-liked'}">
                    <div>
                        <span class="material-symbols-outlined expand-circle-up upvoteBtn">
                            expand_circle_up
                            <input type="hidden" class="snippet-id" th:value="${snippet.id}">
                        </span>
                        <div th:class="'likeCount_' + ${snippet.id} + ' ' + 'likeCount'" th:text="${snippet.likeCount}"></div>
                    </div>
                </div>
                <div class="snippet-title" th:text="${snippet.title}"></div>
                <div class="snippet-description" th:text="${snippet.description}"></div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="title">Recently Shared</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="snippet_new : ${snippets_new}">
            <div class="snippet-box">
                <p><span class="badge badge-pill" th:text="${snippet_new.language}"></span></p>
                <img th:unless="${snippet_new.img}" th:src="@{/image/noimage.png}" alt="Snippet" class="snippet-image">
                <img th:if="${snippet_new.img}" th:src="@{'/upload/' + ${snippet.img}}" alt="Snippet" class="snippet-image">
                <div th:class="'likecontainer_' + ${snippet_new.id} + ' ' + ${#arrays.contains(likedPosts, snippet_new.id) ? 'liked' : 'not-liked'}">
                    <div>
                        <span class="material-symbols-outlined expand-circle-up upvoteBtn">
                            expand_circle_up
                            <input type="hidden" class="snippet-id" th:value="${snippet_new.id}">
                        </span>
                        <div th:class="'likeCount_' + ${snippet_new.id} + ' ' + 'likeCount'" th:text="${snippet_new.likeCount}"></div>
                    </div>
                </div>
                <div class="snippet-title" th:text="${snippet_new.title}"></div>
                <div class="snippet-description" th:text="${snippet_new.description}"></div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{component/footer.html::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/list.js"></script>
<script src="/js/upvote.js"></script>
</html>