header {
    background-color: #aa438c;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#navicon {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 7px;
    cursor: pointer;
    transition: color 0.3s;
}

#navicon:hover {
    color: #43aa8c;
}

#login {
    font-family: 'Source Code Pro', monospace;
    margin: 13px 20px 0 0;
    font-size: 20px;
}

#login a:hover {
    color: #43aa8c;
}

#login a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-bg {
    background-color: #aa438c;
    font-family: 'Source Code Pro', monospace;
}

.nav-bg a {
    display: block;
    text-decoration: none;
    width: fit-content;
    font-size: 20px;
    cursor: pointer;
}
