body {
    margin: 0;
    background: linear-gradient(-45deg, #6f1451, #BD1E86);
    width: 100%;
}

.full-height {
    margin: 0;
    padding: 0;
}

#main-wrap {
    margin: 150px 250px 0px 250px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    color: #fff;
}

#short-desc {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    margin-top: 10px;
}

#main-box {
    display: flex;
    align-items: flex-start;
}

.fun-desc {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
}

.fun-icon {
    margin-left: 7px;
    font-size: 20px;
}

.input-group {
    margin-top: 30px;
    width: 360px;
}

#logoicon {
    color: #fff;
    font-size: 400px;
    margin: -45px 0px 0 70px;
}

#main-container {
    display: flex;
    justify-content: center;
}

#main-sub-container {
    display: flex;
    align-items: center;
}

#sub-wrap {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    margin-top: 130px;
    margin-bottom: 50px;
}

.btn-warning {
    border-radius: 0 5px 5px 0;
}

.signup-input {
    font-family: 'Source Code Pro', monospace;
}