body {
  background: linear-gradient(-45deg, #6f1451, #BD1E86);
  margin: 0;
}

#top-title {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color: #fff;
    margin-left: 50px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}

#addBtn {
    margin: 15px 50px 0 0;
    background-color: #FF8C00;
    color: #fff;
}

hr {
    color: #fff;
}

.snippet-box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 35px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
}

.snippet-image {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.snippet-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}
.snippet-description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.expand-circle-up {
    cursor: pointer;
    transition: color 0.3s;
}

.liked {
    color: #0FFF50;
}

.not-liked {
    color: #A0A0A0;
}

.badge {
    background-color: #FF8C00;
}

.container {
  margin-bottom: 50px;
}

.likeCount {
  font-size: 14px;
  margin-top: -5px;
  transition: color 0.3s;
}