body {
    background: linear-gradient(-45deg, #6f1451, #BD1E86);
    margin: 0;
}

#top-title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color: #fff;
    margin-left: 50px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}

hr {
    color: #fff;
}

.snippet-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 35px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    width; 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.credit {
    margin-top: 180px;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    display: flex;
    width: 800px;
    justify-content: end;
}

.snippet-flex {
    display: flex;
    justify-content: start;
    align-content: center;
}

.snippet-image {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.snippet-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

.snippet-description {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Source Code Pro', monospace;
}

.snippet-desc-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.expand-circle-up {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
}

.liked {
    color: #0FFF50;
}

.like-box {
    margin: 0 16px 0 2px;
    text-align: center;
}

.not-liked {
    color: #A0A0A0;
}

.badge {
    background-color: #FF8C00;
    min-width: 90px;
    max-width: 90px;
}

.container {
    margin-bottom: 120px;
}

.likeCount {
    font-size: 20px;
    margin-top: -5px;
    transition: color 0.3s;
}

.profileimg {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    object-fit: cover;
}

#sort-select {
    width: 160px;
    margin: 35px 50px 0 0;
    font-family: 'Source Code Pro', monospace;
}

#sortTitle {
    display: inline-block;
}

#sortIcon {
    display: inline-block;
    color: #fff;
    position: absolute;
    margin: 0px 0px 3px 3px;
}

#post-btn {
    margin-right: 50px;
}

#no-public {
    margin-top: 35px;
    color: #fff;
    font-size: 350px;
}

#no-public-title {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

#no-public-post {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15px;
    font-size: 20px;
    color: #FF8C00;
    font-weight: bold;
}