.sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    border: 2px solid #af4c8a;
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1e1e1e;
    transition: right 0.3s ease-in-out;
}