<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination">
  <div class="mt-1">
    <ul class="custom-pagination">
      <li class="custom-pagination-item" th:if="${page > 1}"><a class="custom-link" th:href="@{${url }(sort=${sort})}">&laquo;</a></li>

      <li class="custom-pagination-item" th:if="${startPage > 1}"><a class="custom-link" th:href="@{${url }(page=${startPage - 1 }, sort=${sort})}">&lsaquo;</a></li>

      <th:block th:if="${totalPage > 1 }">
        <th:block th:each="k: ${#numbers.sequence(startPage, endPage)}">
          <li class="custom-pagination-item" th:unless="${k == page }"><a class="custom-link" th:href="@{${url }(page=${k}, sort=${sort})}" th:text="${k}"></a></li>
          <li class="custom-pagination-item custom-active" th:if="${k == page }"><a class="custom-link" href="javascript:void(0);" th:text="${k}"></a></li>
        </th:block>
      </th:block>

      <li class="custom-pagination-item" th:if="${totalPage > endPage }"><a class="custom-link" th:href="@{${url }(page=${endPage + 1 }, sort=${sort})}">&rsaquo;</a></li>

      <li class="custom-pagination-item" th:if="${page < totalPage }"><a class="custom-link" th:href="@{${url }(page=${totalPage }, sort=${sort})}">&raquo;</a></li>

    </ul>
  </div>
</th:block>

</html>