<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="todoSidebar">
  <script th:inline="javascript" sec:authorize="isAuthenticated()" th:with="logged_user=${#authentication.principal.user}">
    var todoUser_id = [[${logged_user.id}]];
  </script>
  <div class="sidebar" id="sidebar">
    <div class="d-flex justify-content-end">
      <button id="closeSidebar" class="btn-close btn-close-white"></button>
    </div>
    <div id="todo-wrap">
      <div id="todo-title">TODOs</div>
      <div id="todo-list">
        <!-- Load from JS -->
      </div>
      <div id="todo-content-input" class="d-flex">
        <div class="input-group">
          <input type="text" class="form-control" id="todo-content" placeholder="Write a TODO..">
          <button id="add-btn" class="btn btn-secondary">Add</button>
        </div>
      </div>
    </div>


  </div>
</th:block>
